body {
  >div {
    >div {
      max-width: 800px;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      div {
        border: 1px solid black;

        h2 { 
          color: green; 
        }

        h3 {
          font-size: 36px;

          &.species {
            color: yellow;
          }
        }

        h4 { 
          color: blue; 
        }
      }
    }
  }
}